- content_for :footer_content do
  = link_to "Déconnexion", [:destroy, :user_session], "data-role" => "button", "data-icon" => "back", "data-ajax" => false, :class => "ui-btn-right"
  = link_to "Mon profil", "#", "data-role" => "button", "data-icon" => "info", "data-ajax" => false, :class => "ui-btn-right"
  